# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / React
node_modules/
build/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Machine Learning Models
*.pkl

# Environment Files
.env

# IDE / Editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS Files
Thumbs.db